{% extends "../base/base.html" %}
{% block title %}Lainan tarkistus{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2" style="padding-top: 10px;font-family: 'Nunito Sans', sans-serif;color: rgb(255,255,255);">
            <h1 class="fw-bold" style="font-size: 25px;font-family: 'Nunito Sans', sans-serif;margin: 20px 0px ;">Lainan tarkistus</h1>
            <p class="fw-light" style="color: rgb(255,255,255);font-family: 'Nunito Sans', sans-serif;margin-bottom: 10px;"><strong>Opiskelijanumero</strong>&nbsp;- Lue opiskelijakortti tai kirjaa käsin.</p><input type="text" style="margin-bottom: 20px;width: 243px;">
            <p class="fw-light" style="color: rgb(255,255,255);font-family: 'Nunito Sans', sans-serif;margin-bottom: 10px;"><strong>Etunimi</strong></p><input type="text" style="margin-bottom: 20px;width: 243px;" disabled="" readonly="">
            <p class="fw-light" style="color: rgb(255,255,255);font-family: 'Nunito Sans', sans-serif;margin-bottom: 10px;"><strong>Sukunimi</strong></p><input type="text" style="margin-bottom: 20px;width: 243px;" disabled="" readonly="">
            <p class="fw-light" style="color: rgb(255,255,255);font-family: 'Nunito Sans', sans-serif;margin-bottom: 10px;"><strong>Tuotelista</strong>&nbsp;- Opiskelijalla lainassa olevat tuotteet.</p><textarea style="width: 405px;margin-bottom: 20px;height: 80px;" readonly="" disabled=""></textarea>
        </div>
    </div>
{% endblock %}
