asgiref==              3.5.0
Django==               4.0.4
django-mssql-backend== 2.8.1
greenlet==             1.1.2
mssql==                1.0.1
pip==                  22.0.4
pyodbc==               4.0.32
pytz==                 2022.1
setuptools==           58.1.0
SQLAlchemy==           1.4.35
sqlparse==             0.4.2
tzdata==               2022.1