{% extends "../base/base.html" %}
{% block title %}Ei pääsyoikeutta{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2" style="padding-top: 10px;font-family: 'Nunito Sans', sans-serif;color: rgb(255,255,255);">
            <h1 class="fw-bold" style="font-size: 25px;font-family: 'Nunito Sans', sans-serif;margin: 20px 0px ;">Riittämättömät oikeudet</h1>
            <p class="fw-light" style="color: rgb(255,255,255);font-family: 'Nunito Sans', sans-serif;margin-bottom: 10px;">Sivun käyttö vaatii korkeammat käyttöoikeudet.</p><a class="btn btn-primary" role="button" style="background: #df2070;" href="/">Palaa etusivulle</a>
        </div>
    </div>
{% endblock %}
